{{ define "main" }}
  <h1 class="mb:0">{{ .Title }}</h1>
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time class="f:14 f:rgb(170,170,170)" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  <div>
    {{ partial "tags.html" . }}
  </div>


  <div class="fira-sans f:#f0f0f0_a text-decoration:1px_a text-underline-offset:4px_a t:dotted_a f:#d0d0d0_a:hover transition:200ms_a text-shadow:0|0|5|#FBE09Da1_a:hover
  max-w:100%_img my:8px_img">
    {{ .Content }}
  </div>
{{ end }}
